.card {
    background-color: #eee;
}
.app-content {
    padding: 0 1em;
}

.tek-nav {
    margin-bottom: 15px;
}

.image {
    width: 100%;
    border: 1px #ccc solid ;
    border-radius: 10px;
    padding: 10px;
    max-height: 18em;
}

.offer {
    height: 35em;
}

.desc {
    height: 8em;
    overflow: hidden;
}

textarea {
    width: 100%;
}

.search-input, .search-btn {
    width: 100%;
}

.center {
    text-align: center;
}

.full-width input {
    width: 100%;
}

.link {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

label {
    font-weight: 700;    
}

@media (max-width: 62em) {
    .table-xs td {
        padding: 0.1em;
    }
}

.nowrap {
    white-space: nowrap;
}