.card {
    background-color: #eee;
}
.app-content {
    padding: 0 1em;
}

.tek-nav {
    margin-bottom: 15px;
}

.image {
    width: 100%;
    border: 1px #ccc solid ;
    border-radius: 10px;
    padding: 10px;
    max-height: 18em;
}

.offer {
    height: 35em;
}

.desc {
    height: 8em;
    overflow: hidden;
}

.c-select {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.plan-form-minw {
    min-width: 230px;
}

.table td ,
.table thead th {
    vertical-align: middle;
}

.table-bordered td {
    border-width: 2px;
}

.padding-sm {
    padding: 2px !important;
}
.margin-sm {
    padding: 2px !important;
}

.search-input, .search-btn {
    width: 100%;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.full-width input {
    width: 100%;
    max-width: 30em;
}
.fully-width {
    width: 100%;
}

.link {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

label {
    font-weight: 700;    
}


/* Large devices */
@media (max-width: 62em) {

    .table-xs td {
        padding: 0.1em;
    }
}


/*Extra SMALL devices*/
@media (max-width: 34em) {

    h1,h2,h3,h4,h5 {
        font-size: 100%;
    }

    textarea {
        width: 100%;
    }

    .m-r-2 {
        margin-right: 5px !important;
    }

    .nowrap {
        white-space: normal;
    }
    .sm-full {
        /* fill the whole width on small devices */
        width: 100%;
    }
    .xs-center {
        text-align: center;
    }

    .xs-widht-half {
        min-width: 50%;
    }
}

/* Extra SMALL devices */
@media (max-width: 48em) {

    .md-full {
        /* fill the whole width on small devices */
        width: 100%;
    }
    .md-center {
        text-align: center;
    }
}

@media (max-width: 48em) and (min-width: 34em) {

    h1,h2,h3,h4,h5 {
        font-size: 140%;
    }
}

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {

    .nowrap {
        white-space: nowrap;
    }

}
